/**********************
        CARROSSEL
**********************/

#carousel {
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    margin: 1rem auto;
    border-radius: 20px;
    margin-left: 18%;
}

.carousel-item img {
    max-width: 100%;
    display: block;
    animation: zoom .5s ease;
}

@keyframes zoom {
    0%{transform: scale(2);opacity: 0;}
    100%{transform: scale(1);opacity: 1;}
}

.carousel-item {
    display: none;
}

.carousel-item-active {
    display: block;
}

/********
CONTROLES
********/

.left-control, .right-control {
    position: absolute;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 35px;
    background-color: var(--main-blue-color);
    color: var(--text-purple-color);
    border-radius: 50%;
    font-size: 1.4rem;
    top: 50%;
    margin-top: -20px;
    transition: all .5s ease;
}


.left-control {
    left: 15px;
}

.right-control {
    right: 15px;
}

/**********************
      CATEGORIAS
**********************/

.sessão-categorias {
    text-align: center;
}

.sessão-categorias .titulo-sessão {
    margin: 2rem 0;
}

.categorias-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.categorias {
    display: block;
    background-color :#B599F2;
    text-align: center;
    border-radius: 15px;
    border: solid 2px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;

}

.categorias img {
    max-width: 230px;
    width: 100%;
    max-height: 540px;
    height: auto;
    max-height: 300px;
    border-radius: 15px 15px 0 0;
}

.categorias-button {
    cursor: pointer;
    background-image: linear-gradient(to bottom,#F2C2CF,#B599F2);
    border-radius: 15px;
    border: 0;
    padding: 0;
}

.categorias-texto {
    font-family: 'Noto Sans';
    color: var(--text-purple-color);
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1.6rem;
    text-align: center;
 
}

.card1{
    margin-right: 2rem;
 
}

.card2{
    margin-right: 2rem;

}

.card3{
    margin-right: 2rem;
}

.card4{
    margin-right: 2rem;
}

.card5{
    margin-right: 2rem;
}

.card6{
    margin-right: 2rem;
}





/**********************
   MAIS VENDIDOS
**********************/

.mais-vendidos, .destaques {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}

.sessão-titulo{
    color: var(--main-blue-color);
    font-size: 2rem;
    font-weight: 700;
}

/******
SESSÃO CATALOGOS
*******/

.sessão-catalogo {
    width: 80%;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*******
CATALOGO
*******/

.catalogo-item {
    width: 20%;
    margin: 0 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(93, 93, 129, 0.3);
    border-radius: 5%;
    background-image: linear-gradient(to bottom,#F2C2CF,#B599F2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.destaques .catalogo-item {
    background-color: #EFEFF1;
}

.catalogo-img {
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.catalogo-line {
    border: 2px solid rgba(240, 46, 170, 0.4) ;
    width: 100%;
    margin-bottom: 0.6rem;
}

.produto-titulo {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: #ffff;
}

.produto-preço {
    color: var(--main-blue-color);
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0.5rem 0;
    color: #ffff;
}

.produto-prestação {
    font-size: 0.8rem;
    color: #ffff;
}

.produto-bold {
    font-weight: 600;
}

.produto-button {
    width: 100%;
    margin: 1rem 0;
    cursor: pointer;
    background-color: rgba(240, 46, 170, 0.4);
    border: none;
    border-radius: 40px;
    padding: 0.7rem 3.5rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    transition: opacity .5s ease-in;
}

.produto-button:hover {
    opacity: 0.8;
}

/**********************
      MEDIA QUERY
**********************/

@media (max-width: 1250px) {
    .sessão-catalogo{
        width: 100%;
    }
}

@media (max-width: 1200px) {
    #carousel {
        margin: auto;
        border-radius: 0;
    }
}

@media (max-width: 1000px) {
    .catalogo-item {
        width: 17%;
    }
    .produto-titulo {
        font-size: 1rem;
    }
    .produto-preço{
        font-size: 1.2rem;
    }
    .produto-button {
        padding: 0.7rem 2rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 865px) {
    .categorias-texto {
        font-size: 1.4rem;
        padding: 1rem;
    }
    .sessão-catalogo {
        width: 80%;
    }
    .catalogo-item {
        padding: 0.3rem;
    }
    .catalogo-item {
        width: 40%;
        margin-top: 1.4rem;
    }
}

@media (max-width: 751px) {
    .card1, .card2, .card3, .card4, .card5, .card6 {
        margin-right: 0;
    }
    .categorias {
        margin-top: 1.1rem;
    }
}

@media (max-width: 720px) {
    .mais-vendidos, .destaques {
        margin-top: 3rem;
    }
    .sessão-titulo {
        font-size: 1.7rem;
    }
    .sessão-catalogo {
        margin-top: 2rem;
    }
    .catalogo-item {
        width: 35%;
    }
    .catalogo-img {
        width: 70%;
    }
}

@media (max-width: 550px) {
    .left-control, .right-control {
        font-size: 1.2rem;
        line-height: 26px;
        height: 30px;
        width: 30px;
    }
    .left-control {
        left: 10px;
    }
    
    .right-control {
        right: 10px;
    }

    .sessão-catalogo {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .catalogo-item {
        margin: 0.5rem 0.5rem;
    }
    .produto-titulo {
        font-size: 0.8rem;
    }
    .produto-preço {
        font-size: 1rem;
    }
    .produto-prestação {
        font-size: 0.6rem;
    }
    .produto-button {
        padding: 0.5rem;
        font-size: 0.6rem;
        margin: 0.5rem 0;
    }
}

@media (max-width: 400px) {
    .left-control, .right-control {
        font-size: 1rem;
        line-height: 22px;
        height: 25px;
        width: 25px;
    }
    .left-control {
        left: 5px;
    }
    
    .right-control {
        right: 5px;
    }
}

@media (max-width: 375px) {
    .categorias {
        width: 70%;
    }
    .categorias-texto {
        font-size: 1.2rem;
        padding: 0.6rem;
    }
    .categorias:hover {
        transform: scale(1.01);
    }
}

@media (max-width: 325px) {
    .sessão-titulo {
        font-size: 1.4rem;
    }
    .catalogo-item {
        width: 35%;
        margin: 0.3rem 0.3rem;
        
    }


}