/****************
   PRODUTOS
****************/

.sessão-produtos {
    display: flex;
    justify-content: center;
}

#produto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 4rem 0;
    border: 2px solid var(--main-blue-color);
    border-radius: 10px;
    padding: 1rem;
}

#produto-image {
    width: 100%;
    height: auto;
}

#informação-produto {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

#produto-nome {
    color: black;
    font-size: 2rem;
    font-weight: 900;
    margin: 1rem 0;
}

#produto-preço {
    color: var(--main-blue-color);
    font-size: 1.8rem;
    font-weight: 900;
}

.label {
    font-size: 1rem;
    margin-top: 1rem;
}

#selecionar-tamanho {
    width: 70%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 5px;
}

#quantidade-produto {
    width: 40%;
    text-align: center;
    margin-top: 0.3rem;
    margin-right: 0.4rem;
    padding: 0.5rem;
    border: 1px solid #858585;
    border-radius: 5px;
}

#produto-button {
    width: 90%;
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
    background-color: var(--main-blue-color);
    color: var(--text-red-color);
    border: none;
    border-radius:10px;
    transition: opacity .5s ease;
}

#produto-button:hover {
    opacity: 0.8;
}

/****************
   DESCRIÇÃo
****************/

.descrição{
    padding: 2rem;
}

#titulo {
    color: var(--main-blue-color);
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.descrição-text {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/****************
   MEDIA QUERY
****************/

@media (max-width: 788px) {
    .sessão-produtos {
        display: block;
    }
    #produto {
        flex-direction: column;
        margin: 3rem 0 1rem 0;
        border: none;
    }
    #informação-produto{
        margin-left: 0;
        justify-content: start;
        align-items: center;
    }
    #produto-nome {
        font-size: 1.5rem;
    }
}

@media (max-width: 425px) {
    #produto {
        margin: 0 0 1rem 0;
        padding: 0;
    }
    #image-div {
        display: flex;
        justify-content: center;
    }
    #produto-image {
        width: 70%;
    }
    #produto-nome  {
        font-size: 1.4rem;
        margin: 0.5rem;
    }
    #produto-preço{
        font-size: 1.4rem;
    }
    .label {
        margin-top: 0.5rem;
        font-size: 0.7rem;
    }
    #selecionar-tamanho {
        padding: 0.2rem;
    }
    #quantidade-produto {
        padding: 0.2rem;
    }
    #titulo {
        font-size: 1rem;
    }
    .descrição-text {
        font-size: 0.8rem;
    }
}